# Data folder
data/*
!data/README.md
!data/__init__.py
*.csv
*.parquet
*.xlsx

# Secrets
env.list

# Byte-compiled / optimized / DLL files.
__pycache__/

# Jupyter Notebook.
.ipynb_checkpoints
.Trash*
notebooks/*.log
